USE [timetableDB]
GO
/****** Object:  Table [dbo].[CourseClass]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseClass](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[duration] [int] NOT NULL,
	[lab] [bit] NULL,
	[instructorId] [int] NOT NULL,
	[courseId] [int] NOT NULL,
	[roomId] [int] NULL,
	[preferredRoom] [int] NULL,
	[Tut] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseCurriculums]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseCurriculums](
	[curriculumId] [int] NOT NULL,
	[courseId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[numberOfStudents] [int] NOT NULL,
	[codeArabic] [nvarchar](50) NULL,
	[codeEnglish] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoursesYD]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoursesYD](
	[courseId] [int] NOT NULL,
	[cs] [int] NULL,
	[stat] [int] NULL,
	[math] [int] NULL,
	[mathCS] [int] NULL,
	[statCS] [int] NULL,
	[IT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CS]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CS](
	[year] [int] NOT NULL,
	[size] [int] NOT NULL,
	[labRoom] [int] NULL,
	[numOfGroups] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculum]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculum](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[numberofstudents] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CurriculumDevisions]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurriculumDevisions](
	[curriculumId] [int] NOT NULL,
	[cs] [int] NULL,
	[stat] [int] NULL,
	[math] [int] NULL,
	[mathCS] [int] NULL,
	[statCS] [int] NULL,
	[IT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstructorPreferredTime]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructorPreferredTime](
	[instructorId] [int] NOT NULL,
	[Day] [int] NOT NULL,
	[timeStart] [int] NOT NULL,
	[timeEnd] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[TA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IT]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IT](
	[year] [int] NOT NULL,
	[size] [int] NOT NULL,
	[labRoom] [int] NULL,
	[numOfGroups] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Math]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Math](
	[year] [int] NOT NULL,
	[size] [int] NOT NULL,
	[labRoom] [int] NULL,
	[numOfGroups] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MathCS]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MathCS](
	[year] [int] NOT NULL,
	[size] [int] NOT NULL,
	[labRoom] [int] NULL,
	[numOfGroups] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[numberofseats] [int] NOT NULL,
	[lab] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[courseClassId] [int] NOT NULL,
	[day] [nvarchar](50) NOT NULL,
	[time start] [int] NOT NULL,
	[time end] [int] NOT NULL,
	[roomId] [int] NOT NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[courseClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAT]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAT](
	[year] [int] NOT NULL,
	[size] [int] NOT NULL,
	[labRoom] [int] NULL,
	[numOfGroups] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATCS]    Script Date: 8/29/2017 2:45:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATCS](
	[year] [int] NOT NULL,
	[size] [int] NULL,
	[labRoom] [int] NULL,
	[numOfGroups] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CourseClass] ON 

INSERT [dbo].[CourseClass] ([Id], [name], [duration], [lab], [instructorId], [courseId], [roomId], [preferredRoom], [Tut]) VALUES (2, N'محاضرة مبادئ علوم الحاسوب(2)', 2, 0, 49, 1, NULL, 1, 0)
INSERT [dbo].[CourseClass] ([Id], [name], [duration], [lab], [instructorId], [courseId], [roomId], [preferredRoom], [Tut]) VALUES (3, N'تمارين مبادئ علوم الحاسوب(2)', 2, 0, 55, 1, NULL, 1, 1)
INSERT [dbo].[CourseClass] ([Id], [name], [duration], [lab], [instructorId], [courseId], [roomId], [preferredRoom], [Tut]) VALUES (4, N'محاضرة الحسبان(2)', 3, 0, 48, 5, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[CourseClass] OFF
INSERT [dbo].[CourseCurriculums] ([curriculumId], [courseId]) VALUES (2, 1)
INSERT [dbo].[CourseCurriculums] ([curriculumId], [courseId]) VALUES (2, 2)
INSERT [dbo].[CourseCurriculums] ([curriculumId], [courseId]) VALUES (2, 5)
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [name], [numberOfStudents], [codeArabic], [codeEnglish]) VALUES (1, N'مبادئ علوم الحاسوب(2)', 203, N'(ح 103', N'c103')
INSERT [dbo].[Courses] ([Id], [name], [numberOfStudents], [codeArabic], [codeEnglish]) VALUES (2, N'مقدمة  الآحصاء والاحتمالات', 203, N'ا102', N's102')
INSERT [dbo].[Courses] ([Id], [name], [numberOfStudents], [codeArabic], [codeEnglish]) VALUES (5, N'الحسبان(2)', 203, N'ت102', N'a102')
SET IDENTITY_INSERT [dbo].[Courses] OFF
INSERT [dbo].[CoursesYD] ([courseId], [cs], [stat], [math], [mathCS], [statCS], [IT]) VALUES (1, 1, 1, 1, 1, 1, NULL)
INSERT [dbo].[CoursesYD] ([courseId], [cs], [stat], [math], [mathCS], [statCS], [IT]) VALUES (2, 1, 1, 1, 1, 1, NULL)
INSERT [dbo].[CoursesYD] ([courseId], [cs], [stat], [math], [mathCS], [statCS], [IT]) VALUES (5, 1, 1, 1, 1, 1, NULL)
INSERT [dbo].[CS] ([year], [size], [labRoom], [numOfGroups]) VALUES (1, 47, NULL, 1)
INSERT [dbo].[CS] ([year], [size], [labRoom], [numOfGroups]) VALUES (2, 35, NULL, 1)
INSERT [dbo].[CS] ([year], [size], [labRoom], [numOfGroups]) VALUES (3, 48, NULL, 1)
SET IDENTITY_INSERT [dbo].[Curriculum] ON 

INSERT [dbo].[Curriculum] ([Id], [name], [numberofstudents]) VALUES (1, N'1It', 59)
INSERT [dbo].[Curriculum] ([Id], [name], [numberofstudents]) VALUES (2, N'1', 203)
INSERT [dbo].[Curriculum] ([Id], [name], [numberofstudents]) VALUES (3, N'2', 164)
SET IDENTITY_INSERT [dbo].[Curriculum] OFF
INSERT [dbo].[CurriculumDevisions] ([curriculumId], [cs], [stat], [math], [mathCS], [statCS], [IT]) VALUES (1, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[CurriculumDevisions] ([curriculumId], [cs], [stat], [math], [mathCS], [statCS], [IT]) VALUES (3, 2, 2, 2, 2, 2, NULL)
INSERT [dbo].[CurriculumDevisions] ([curriculumId], [cs], [stat], [math], [mathCS], [statCS], [IT]) VALUES (4, NULL, NULL, NULL, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[Instructors] ON 

INSERT [dbo].[Instructors] ([Id], [name], [TA]) VALUES (1, N'MK', 0)
INSERT [dbo].[Instructors] ([Id], [name], [TA]) VALUES (2, N'MAMA', 0)
INSERT [dbo].[Instructors] ([Id], [name], [TA]) VALUES (3, N'M.ALFATE7', 0)
SET IDENTITY_INSERT [dbo].[Instructors] OFF
INSERT [dbo].[IT] ([year], [size], [labRoom], [numOfGroups]) VALUES (1, 59, NULL, 1)
INSERT [dbo].[IT] ([year], [size], [labRoom], [numOfGroups]) VALUES (2, 70, NULL, 1)
INSERT [dbo].[IT] ([year], [size], [labRoom], [numOfGroups]) VALUES (3, 74, NULL, 1)
INSERT [dbo].[Math] ([year], [size], [labRoom], [numOfGroups]) VALUES (1, 39, NULL, 1)
INSERT [dbo].[Math] ([year], [size], [labRoom], [numOfGroups]) VALUES (2, 23, NULL, 1)
INSERT [dbo].[Math] ([year], [size], [labRoom], [numOfGroups]) VALUES (3, 34, NULL, 1)
INSERT [dbo].[MathCS] ([year], [size], [labRoom], [numOfGroups]) VALUES (1, 39, NULL, 1)
INSERT [dbo].[MathCS] ([year], [size], [labRoom], [numOfGroups]) VALUES (2, 39, NULL, 1)
INSERT [dbo].[MathCS] ([year], [size], [labRoom], [numOfGroups]) VALUES (3, 31, NULL, 1)
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [name], [numberofseats], [lab]) VALUES (1, N'obied khtem1', 300, 0)
INSERT [dbo].[Rooms] ([Id], [name], [numberofseats], [lab]) VALUES (2, N'obied khtem2', 300, 0)
INSERT [dbo].[Rooms] ([Id], [name], [numberofseats], [lab]) VALUES (3, N'obied khtem3', 300, 0)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
INSERT [dbo].[Schedule] ([courseClassId], [day], [time start], [time end], [roomId]) VALUES (2, N'Monday', 12, 14, 2)
INSERT [dbo].[Schedule] ([courseClassId], [day], [time start], [time end], [roomId]) VALUES (3, N'Wednesday', 10, 12, 2)
INSERT [dbo].[Schedule] ([courseClassId], [day], [time start], [time end], [roomId]) VALUES (4, N'Tuesday', 12, 15, 2)
INSERT [dbo].[STAT] ([year], [size], [labRoom], [numOfGroups]) VALUES (1, 30, NULL, 1)
INSERT [dbo].[STAT] ([year], [size], [labRoom], [numOfGroups]) VALUES (2, 29, NULL, 1)
INSERT [dbo].[STAT] ([year], [size], [labRoom], [numOfGroups]) VALUES (3, 27, NULL, 1)
INSERT [dbo].[STATCS] ([year], [size], [labRoom], [numOfGroups]) VALUES (1, 48, NULL, 1)
INSERT [dbo].[STATCS] ([year], [size], [labRoom], [numOfGroups]) VALUES (2, 38, NULL, 1)
INSERT [dbo].[STATCS] ([year], [size], [labRoom], [numOfGroups]) VALUES (3, 48, NULL, 1)
ALTER TABLE [dbo].[CourseClass] ADD  DEFAULT ((0)) FOR [lab]
GO
ALTER TABLE [dbo].[CourseClass] ADD  DEFAULT ((0)) FOR [Tut]
GO
ALTER TABLE [dbo].[CS] ADD  DEFAULT ((1)) FOR [numOfGroups]
GO
ALTER TABLE [dbo].[Instructors] ADD  DEFAULT ((0)) FOR [TA]
GO
ALTER TABLE [dbo].[IT] ADD  DEFAULT ((1)) FOR [numOfGroups]
GO
ALTER TABLE [dbo].[Math] ADD  DEFAULT ((1)) FOR [numOfGroups]
GO
ALTER TABLE [dbo].[MathCS] ADD  DEFAULT ((1)) FOR [numOfGroups]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [lab]
GO
ALTER TABLE [dbo].[STAT] ADD  DEFAULT ((1)) FOR [numOfGroups]
GO
ALTER TABLE [dbo].[STATCS] ADD  DEFAULT ((1)) FOR [numOfGroups]
GO
ALTER TABLE [dbo].[CourseClass]  WITH CHECK ADD  CONSTRAINT [FK_CourseClass_ToTableCourses] FOREIGN KEY([courseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[CourseClass] CHECK CONSTRAINT [FK_CourseClass_ToTableCourses]
GO
ALTER TABLE [dbo].[CourseClass]  WITH CHECK ADD  CONSTRAINT [FK_CourseClass_ToTableRooms] FOREIGN KEY([roomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[CourseClass] CHECK CONSTRAINT [FK_CourseClass_ToTableRooms]
GO
ALTER TABLE [dbo].[CourseClass]  WITH CHECK ADD  CONSTRAINT [FK_CourseClass_ToTableRoomsP] FOREIGN KEY([preferredRoom])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[CourseClass] CHECK CONSTRAINT [FK_CourseClass_ToTableRoomsP]
GO
ALTER TABLE [dbo].[CourseCurriculums]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumClasses_ToTableCourses] FOREIGN KEY([courseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[CourseCurriculums] CHECK CONSTRAINT [FK_CurriculumClasses_ToTableCourses]
GO
ALTER TABLE [dbo].[CourseCurriculums]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumClasses_ToTableCurriculum] FOREIGN KEY([curriculumId])
REFERENCES [dbo].[Curriculum] ([Id])
GO
ALTER TABLE [dbo].[CourseCurriculums] CHECK CONSTRAINT [FK_CurriculumClasses_ToTableCurriculum]
GO
ALTER TABLE [dbo].[CoursesYD]  WITH CHECK ADD  CONSTRAINT [FK_CoursesYD__ToTableIT] FOREIGN KEY([IT])
REFERENCES [dbo].[IT] ([year])
GO
ALTER TABLE [dbo].[CoursesYD] CHECK CONSTRAINT [FK_CoursesYD__ToTableIT]
GO
ALTER TABLE [dbo].[CoursesYD]  WITH CHECK ADD  CONSTRAINT [FK_CoursesYD_ToTableCourses] FOREIGN KEY([courseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[CoursesYD] CHECK CONSTRAINT [FK_CoursesYD_ToTableCourses]
GO
ALTER TABLE [dbo].[CoursesYD]  WITH CHECK ADD  CONSTRAINT [FK_CoursesYD_ToTableCS] FOREIGN KEY([cs])
REFERENCES [dbo].[CS] ([year])
GO
ALTER TABLE [dbo].[CoursesYD] CHECK CONSTRAINT [FK_CoursesYD_ToTableCS]
GO
ALTER TABLE [dbo].[CoursesYD]  WITH CHECK ADD  CONSTRAINT [FK_CoursesYD_ToTableMath] FOREIGN KEY([math])
REFERENCES [dbo].[Math] ([year])
GO
ALTER TABLE [dbo].[CoursesYD] CHECK CONSTRAINT [FK_CoursesYD_ToTableMath]
GO
ALTER TABLE [dbo].[CoursesYD]  WITH CHECK ADD  CONSTRAINT [FK_CoursesYD_ToTableMathCS] FOREIGN KEY([mathCS])
REFERENCES [dbo].[MathCS] ([year])
GO
ALTER TABLE [dbo].[CoursesYD] CHECK CONSTRAINT [FK_CoursesYD_ToTableMathCS]
GO
ALTER TABLE [dbo].[CoursesYD]  WITH CHECK ADD  CONSTRAINT [FK_CoursesYD_ToTableStat] FOREIGN KEY([stat])
REFERENCES [dbo].[STAT] ([year])
GO
ALTER TABLE [dbo].[CoursesYD] CHECK CONSTRAINT [FK_CoursesYD_ToTableStat]
GO
ALTER TABLE [dbo].[CoursesYD]  WITH CHECK ADD  CONSTRAINT [FK_CoursesYD_ToTableStatCS] FOREIGN KEY([statCS])
REFERENCES [dbo].[STATCS] ([year])
GO
ALTER TABLE [dbo].[CoursesYD] CHECK CONSTRAINT [FK_CoursesYD_ToTableStatCS]
GO
ALTER TABLE [dbo].[CS]  WITH CHECK ADD  CONSTRAINT [FK_CS_ToRooms] FOREIGN KEY([labRoom])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[CS] CHECK CONSTRAINT [FK_CS_ToRooms]
GO
ALTER TABLE [dbo].[CurriculumDevisions]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumDevisions_ToTableCS] FOREIGN KEY([cs])
REFERENCES [dbo].[CS] ([year])
GO
ALTER TABLE [dbo].[CurriculumDevisions] CHECK CONSTRAINT [FK_CurriculumDevisions_ToTableCS]
GO
ALTER TABLE [dbo].[CurriculumDevisions]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumDevisions_ToTableCurriculum] FOREIGN KEY([curriculumId])
REFERENCES [dbo].[Curriculum] ([Id])
GO
ALTER TABLE [dbo].[CurriculumDevisions] CHECK CONSTRAINT [FK_CurriculumDevisions_ToTableCurriculum]
GO
ALTER TABLE [dbo].[CurriculumDevisions]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumDevisions_ToTableIT] FOREIGN KEY([IT])
REFERENCES [dbo].[IT] ([year])
GO
ALTER TABLE [dbo].[CurriculumDevisions] CHECK CONSTRAINT [FK_CurriculumDevisions_ToTableIT]
GO
ALTER TABLE [dbo].[CurriculumDevisions]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumDevisions_ToTableMath] FOREIGN KEY([math])
REFERENCES [dbo].[Math] ([year])
GO
ALTER TABLE [dbo].[CurriculumDevisions] CHECK CONSTRAINT [FK_CurriculumDevisions_ToTableMath]
GO
ALTER TABLE [dbo].[CurriculumDevisions]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumDevisions_ToTableMathCS] FOREIGN KEY([mathCS])
REFERENCES [dbo].[MathCS] ([year])
GO
ALTER TABLE [dbo].[CurriculumDevisions] CHECK CONSTRAINT [FK_CurriculumDevisions_ToTableMathCS]
GO
ALTER TABLE [dbo].[CurriculumDevisions]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumDevisions_ToTableStat] FOREIGN KEY([stat])
REFERENCES [dbo].[STAT] ([year])
GO
ALTER TABLE [dbo].[CurriculumDevisions] CHECK CONSTRAINT [FK_CurriculumDevisions_ToTableStat]
GO
ALTER TABLE [dbo].[CurriculumDevisions]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumDevisions_ToTableStatCS] FOREIGN KEY([statCS])
REFERENCES [dbo].[STATCS] ([year])
GO
ALTER TABLE [dbo].[CurriculumDevisions] CHECK CONSTRAINT [FK_CurriculumDevisions_ToTableStatCS]
GO
ALTER TABLE [dbo].[IT]  WITH CHECK ADD  CONSTRAINT [FK_IT_ToRooms] FOREIGN KEY([labRoom])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[IT] CHECK CONSTRAINT [FK_IT_ToRooms]
GO
ALTER TABLE [dbo].[Math]  WITH CHECK ADD  CONSTRAINT [FK_Math_ToRooms] FOREIGN KEY([labRoom])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Math] CHECK CONSTRAINT [FK_Math_ToRooms]
GO
ALTER TABLE [dbo].[MathCS]  WITH CHECK ADD  CONSTRAINT [FK_MathCS_ToRooms] FOREIGN KEY([labRoom])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[MathCS] CHECK CONSTRAINT [FK_MathCS_ToRooms]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_ToTableCourseClass] FOREIGN KEY([courseClassId])
REFERENCES [dbo].[CourseClass] ([Id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_ToTableCourseClass]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_ToTableRooms] FOREIGN KEY([roomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_ToTableRooms]
GO
ALTER TABLE [dbo].[STAT]  WITH CHECK ADD  CONSTRAINT [FK_STAT_ToRooms] FOREIGN KEY([labRoom])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[STAT] CHECK CONSTRAINT [FK_STAT_ToRooms]
GO
ALTER TABLE [dbo].[STATCS]  WITH CHECK ADD  CONSTRAINT [FK_STATCS_ToRooms] FOREIGN KEY([labRoom])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[STATCS] CHECK CONSTRAINT [FK_STATCS_ToRooms]
GO
